node {
	fill-color: #0000FF;
	size: 5px;
}

node.marked {
	fill-color: #2177B1;
	size: 5px;
}

node.sick {
	fill-color: #FF0000;
	size: 5px;
}

edge {
	shape: line;
	fill-color: #dddddd;
	arrow-size: 3px, 1px;
}